body {
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.navbar ul li {
  list-style-type: none;
  display: inline;
  font-family: "Roboto Slab", serif;
  font-size: 20px;
}

.navbar {
  margin-left: 85%;
}

.navbar ul a {
  text-decoration: none;
}

h1 {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: 40px;
}

h2 {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: 30px;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 20px;
}
